@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
	margin:0;
	padding:0;
}

body{
	font-family: Verdana, Geneva, sans-serif;
	background-color: #ffffd3;
}

#divWrapper {
	width: 1300px;
	margin: 0 auto;
}

#divHeader{
	font-family: Geneva;
	width: 1300px;
	text-align: center;
	
}

#divLine{
	width: 1300px;
	background: #999;
	height: 1px;
}

#divLinks{
	width: 1300px;
	background: white;
	/* background: #aea7a5; 748eaa; ffffd3 */
}

#divNav{
	width: 1100px;
	background: white;
	height: 36px;
	margin: 0 auto;
	
}

#divNav ul{
	list-style-type: none;
}

#divNav ul li{
	float: left;
}

#divNav ul li a{
	display: block;
	height: 20px;
	line-height: 20px;
	background: #000;
	width: 200px;
	font-size: 0.8em;
	font-weight: bold;
	color: #FFF;
	text-align: center;	
	text-decoration: none;
	margin: 7px;
	
	/* Border Radius */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	border: 1px solid #000;
	
	/* Gradients */
	
	background: -moz-linear-gradient(top, #666, #333);
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
	
}

#divNav ul li a:hover{
	background: #333;
	background: -moz-linear-gradient(top, #000, #666);
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666));
}

#divNav ul li a.current, #divNav ul li a.current:hover{
	background: #333;
	background: -moz-linear-gradient(top, #000, #666);
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666));
	color: #f63;
	cursor: default;
	
}

#divAbout{
	width: 700px;
	background: #333;
}

#divContent{
	width: 430px;
	margin: 0 auto;
	background: #222;
	border: 1px solid #000;
}

/*
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

legend rect {
 fill:white;
 stroke:black;
 opacity:0.8; }

*/








